name: Release

on:
  push:
    tags:
      - "v*"

jobs:
  build:
    strategy:
      matrix:
        system:
          - x86_64-linux
          - aarch64-linux
          - x86_64-darwin
          - aarch64-darwin

    runs-on: ${{ contains(matrix.system, 'darwin') && 'macos-latest' || 'ubuntu-latest' }}

    permissions:
      contents: write

    steps:
      - uses: actions/checkout@v5

      - uses: cachix/install-nix-action@v31

      - uses: cachix/cachix-action@v15
        with:
          name: rstats-on-nix
          authToken: '${{ secrets.CACHIX_AUTH }}'        

      # Build the binary for the platform
      - name: Nix build
        run: nix build --print-build-logs .#treemerge

      - name: Collect artifacts
        run: |
          mkdir artifacts
          cp result/bin/treemerge artifacts/treemerge-${{ matrix.system }}
          cp treemerge.1 artifacts/

      - name: Upload to release
        uses: softprops/action-gh-release@v2
        with:
          files: artifacts/*
          generate_release_notes: true

      - run: nix-store -qR --include-outputs $(nix-instantiate cachix.nix) | cachix push rstats-on-nix
      - run: nix-shell cachix.nix --run "echo OK"
